# Releases directory
release/

# iv Files
*.swp
*~
*.zip

.DS_Store
niosv/standard/lab?/doc/niosv_standard_lab?.aux
niosv/standard/lab?/doc/niosv_standard_lab?.pdf
niosv/standard/lab?/doc/niosv_standard_lab?.log
niosv/standard/lab?/doc/niosv_standard_lab?.out
niosv/standard/lab?/doc/niosv_standard_lab?.synctex.gz
*.aux
*.log
*.gz
*.out
/niosv/standard/lab6/solutions
/niosv/standard/lab1/solutions
/niosv/standard/lab2/solutions
/niosv/standard/lab3/solutions
/niosv/standard/lab4/solutions
/niosv/standard/lab5/solutions
/niosv/standard/lab7/solutions
/niosv/standard/lab8/solutions
